body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #38bdf8;
  color: black;
  font-weight: bold;
}

.buttons button:hover {
  background: #0ea5e9;
}

#result {
  margin-top: 15px;
  font-size: 16px;
}

#severity {
  font-weight: bold;
  margin-top: 5px;
}
.chatbox {
  margin-top: 20px;
  width: 100%;
}

#chat {
  height: 150px;
  overflow-y: auto;
  background: rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.chat-input button {
  margin-left: 5px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  cursor: pointer;
}